
{% extends 'base.html' %}
{% load static %}

{% block title %}Matches{% endblock title %}
{% block content %}






  <div class="center-align">
        <div class="col" style = "width: 33%; float: left; padding: 0 10px 0 5px;">

                <div class="card grey darken-2">
                    <div class="card-content white-text">
                        <span class="card-title">{{ match_with_openBets.0 }}</span>
                        <p>{{ match_with_openBets.1 }}</p>
                        <p>{{ match_with_openBets.2 }}</p>



                    </div>
                    <table class = "highlight responsive-table centered">
                        <tbody  style="background-color:DimGray;">
                          <tr>
                              <th>Bet</th>
                              <td>{{ match_with_openBets.3.0.1 }}</td>
                              <td>{{ match_with_openBets.3.1.1 }}</td>
                              <td>{{ match_with_openBets.3.2.1 }}</td>
                          </tr>
                          <tr>
                              <th>Odds</th>
                              <td>{{ match_with_openBets.3.0.2 }}</td>
                              <td>{{ match_with_openBets.3.1.2 }}</td>
                              <td>{{ match_with_openBets.3.2.2 }}</td>
                          </tr>
                          <tr>
                              <th>Implied Prob</th>
                              <td>{{ match_with_openBets.3.0.3 }}</td>
                              <td>{{ match_with_openBets.3.1.3 }}</td>
                              <td>{{ match_with_openBets.3.2.3 }}</th>
                          </tr>
                        <tr>
                              <th>Historical Prob</th>
                              <td>{{ match_with_openBets.3.0.4 }}</td>
                              <td>{{ match_with_openBets.3.1.4 }}</td>
                              <td>{{ match_with_openBets.3.2.4 }}</th>
                          </tr>
                        </tbody>
                    </table>


        </div>

        </div>
  </div>


<!--
     <meta name = "viewport" content = "width = device-width, initial-scale = 1">
      <link rel = "stylesheet"
         href = "https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel = "stylesheet"
         href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
      <script type = "text/javascript"
         src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
      </script>

  <div class="card" style = "width: 33%; float: left;">
    <div class="card-content" style = "text-align: center;">
      <p>{{ match_with_openBets.0 }}</p>
    </div>
    <div class="card-tabs">
      <ul class="tabs tabs-fixed-width" id = {{ match_with_openBets.pk }} >
        <li class="tab"><a class = "active" href="#test4">{{  match_with_openBets.1.0.dec_odds }}</a></li>
        <li class="tab"><a href="#test5">{{  match_with_openBets.1.1.dec_odds }}</a></li>
        <li class="tab"><a href="#test6">{{  match_with_openBets.1.2.dec_odds }}</a></li>
      </ul>
    </div>
    <div class="card-content grey lighten-4">
      <div id="test4">Test 1</div>
      <div id="test5">Test 2</div>
      <div id="test6">Test 3</div>
    </div>
  </div>

    <div class="center-align">
        <div class="col" style = "width: 33%; float: left; padding: 0 10px 0 5px;">

                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">{{ match_with_openBets.0 }}</span>
                        <p>{{ match_with_openBets.1 }}</p>
                        <p>{{ match_with_openBets.2 }}</p>
                     </div>
                    <div class="card-action">
                        {% for openBet in match_with_openBets.3 %}
                            <a class="waves-effect waves-light btn">{{ openBet.0 }}  </a>
                        {% endfor %}
                    </div>
                    <div class="card-content">
                        {% for openBet in match_with_openBets.3 %}
                            <p class="waves-effect waves-light btn">{{ openBet.1 }}  </p>
                        {% endfor %}
                    </div>
        </div>

        </div>
  </div>


-->



{% endblock content %}